DATABASE_URL=

JWT_SECRET_KEY=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=

TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_INTERNAL_TOKEN=

MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_PRIVATE=
MINIO_SECURE=

YANDEX_GEOCODER_API_KEY=

OPENROUTER_API_KEY=
OPENROUTER_MODEL=

ENV=dev