DATABASE_URL=
JWT_SECRET_KEY=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_INTERNAL_TOKEN=
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_PRIVATE=
MINIO_SECURE=false
MINIO_REGION=us-east-1
MINIO_PRESIGNED_UPLOAD_TTL_SEC=900
MINIO_PRESIGNED_DOWNLOAD_TTL_SEC=300
