.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 25px;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.brand {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 44px;
  height: 44px;
}

.title {
  font-size: 1.6rem;
  font-weight: 1000;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-user-photo-placeholder-conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cfcfcf;
  width: 44px;
  height: 44px;
  border-radius: 14px;
  overflow: hidden;
}

.header-user-photo-placeholder {
  width: 52%;
  color: #000000;
}
