.not-found-page {
    height: 100dvh;
    background-color: #F97316;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.not-found-code {
    font-size: clamp(3rem, 40vw, 10rem);
    color: #fafafa;
    line-height: 0.82;
}

.not-found-title {
    font-size: 1.75rem;
    color: #fafafa;
    font-weight: 900;
    text-align: center;
}

.not-found-subtitle {
    color: #fafafa;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
}

.not-found-back-btn {
    max-width: min(430px, 100%);
    background-color: #fafafa;
    color: #F97316;
    border: 2px solid #fafafa;
    font-size: 1.1rem;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    border-radius: 50px;
    padding: 20px 40px;
}

.not-found-back-btn:hover {
    background-color: #F97316;
    color: #fafafa;
}